{% extends 'base.html' %}
{% block body %}
<p><a href="http://127.0.0.1:5000/"><img src="/static/image/logo.png" alt="logo" width=100 length=100></a></p>
<div style="position: absolute; top: 10; right: 10;"><button style="background-color: orangered; width: 80px; height: 70px" onclick="document.location.href = 'http://127.0.0.1:5000/logout'"><img src="/static/image/signout.png" alt="logout" width="40" height="40" class="center"></button></div>
<div class="modal-content animate">
   <div class="container">
      <h2 style="text-align:center">Welcome to Price Checker, {{email}}!</h2>
      <div id="outer">
         <div class="inner"><button style="text-align:center" onclick="document.location.href = 'http://127.0.0.1:5000/wishlist'">Your wishlist</button></div>
         <div class="inner"><button style="text-align:center" onclick="document.location.href = 'http://127.0.0.1:5000/offers'">Offers available</button></div>
         <div class="inner"><button style="text-align:center" onclick="document.location.href = 'http://127.0.0.1:5000/hotdeals'">#hotdeals</button></div>
      </div>
      <br>
      <form action="/search" method="post">
         <div style="text-align:center">
            <label for="filterOption">Sort by:</label>
            <select name="filterOption" id="filterOption">
               <option value="lowest">Lowest to highest</option>
               <option value="highest">Highest to lowest</option>
            </select>
            <input type="text" placeholder="Enter product you're looking for" name="productInput" required><br>
            <button type="submit" style="text-align:center">Search</button>
         </div>
      </form>
   </div>
</div>
{% endblock %}
