{% extends 'base.html' %}
{% block body %}
<p><a href="http://127.0.0.1:5000/"><img src="https://i.ibb.co/VBwQqyH/uub8y3.png" alt="logo" width=100 length=100></a> </p>
<form class="modal-content animate">
   <div class="container">
      <h2 style="text-align:center">You're ready to use Price Checker!</h2>
      <button onclick="document.location.href = 'http://127.0.0.1:5000/logout'">Log out</button><br>
      <div method="post">
         <input type="text" placeholder="Enter product you're looking for" name="productInput" required><br>
         <button type="submit">Search</button>
      </div>
   </div>
</form>
{% endblock %}