{% extends 'base.html' %}
{% block body %}
<p><a href="http://127.0.0.1:5000/"><img src="/static/image/logo.png" alt="logo" width=100 length=100></a> </p>
<article class="modal-content animate">
   <div class="imgcontainer">
      <h1>Welcome to PriceChecker!</h1>
      <h4>Developed by: <strong>Quoc Viet Phan</strong></h4>
      <button onclick="document.location.href = 'http://127.0.0.1:5000/login'">Log in</button><br>
      <button onclick="document.location.href = 'http://127.0.0.1:5000/signup'">Sign up</button>
   </div>
</article>
{% endblock %}
