{% extends 'base.html' %}
{% block body %}
<p><a href="http://127.0.0.1:5000/"><img src="/static/image/logo.png" alt="logo" width=100 length=100></a> </p>
<div style="position: absolute; top: 10; right: 10;"><button style="background-color: orangered; width: 80px; height: 70px" onclick="document.location.href = 'http://127.0.0.1:5000/logout'"><img src="/static/image/signout.png" alt="logout" width="40" height="40" class="center"></button></div>
<section class="modal-content animate">
   <div class="container">
        <h2 class="title-headline" style="text-align:center">Your shopping list</h2>
        <h3 style="text-align:center">{{counts}} item(s) saved!</h3>
        <table id="wishlisttable" style="width:100%">
            <tr>
                <th>Store</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>URL</th>
                <th>Remove</th>
            </tr>
            {% for item in items %}
            <tr>
                <th>{{item['store']}}</th>
                <th width="120" height="120"><img src="{{item['image']}}" alt="{{item['name']}}" height="100%" style="text-align:center"></th>
                <th id="name" name="name">{{item['name']}}</th>
                <th>£{{item['price']}}</th>
                <th><a href="{{item['url']}}">Click here!</a></th>
                <th>
                    <form action="/removeWishlist" method="post">
                        <input type="hidden" id="name" name="name" value="{{item['name']}}">
                        <button type="submit" onClick="{{ url_for('removeWishlist') }}" style="background-color: orangered; width: 60px; height: 50px""><img src="/static/image/remove.png" alt="logout" width="20" height="20" class="center"></button>
                    </form>
                </th>
            </tr>
            {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Total: £{{priceItems}}</th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
</section>
{% endblock %}
